*{
	transition:all 0.15s;
}

#logo{
	margin-top:-60px;
}

body{
	background-color: #eee;
	background-image: url('../img/bg_1024_3.png');
	/*background-image: url('../img/regis_bg.svg');*/
	/*background-position: center 250px;*/
	background-position: center center;
	background-repeat: repeat;
	/*background-size: 1500px 1200px;*/
	background-size: cover;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'wdb_bangnaregular';
	/*font-weight: bold;*/
}

.txt-center{text-align: center;}

/*
@media (min-width:1024px){
	body{background-size: 1400px;}
}
@media (min-width:480px) and (max-width:1023px){
	body{background-size: 1100px}
}
@media (max-width:479px){
	body{background-size: 800px}
}*/

.hidden{display: none;}
#timesup{font-size: 100pt;}

ul.countdown {
	font-family: 'wdb_bangnaregular';
	list-style: none;
	/*margin: 75px 0;*/
	margin:50px 0 -15px;
	padding: 0;
	display: block;
	text-align: center;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 160px;
	font-weight: 300;
	/*font-weight: bold;*/
	line-height: 60px;
}
ul.countdown li.seperator {
	font-size: 160px;
	line-height: 50px;
	vertical-align: top;
}
ul.countdown li p {
	color: #a7abb1;
	padding-top: 10pt;
	font-size: 22pt;
}
/*@media (max-width:479px){
	ul.countdown {
		margin:60px 0 -15px;
	}
	ul.countdown li span {
		font-size: 40px;
		line-height: 40px;
	}
	ul.countdown li.seperator {
		font-size: 40px;
		line-height: 35px;
	}
}*/