*{
	transition:all 0.15s;
	font-family: 'wdb_bangnaregular';
}
html {
	width:100%;
}
body{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/bg7.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}
.btn-primary ,.btn-primary:link, .btn-primary:active, .btn-primary:visited{background-color: #118d83;}
.btn-primary:hover{background-color: #084a44;}

.txt-center{text-align: center;}
#subscribeform{
	max-width: 500px;
}
#subscribe{
	margin: 0 -15px;
}
.img-center {
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

#subscribe .shadowlink{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: inline-block;
}
#subscribe .form-control {
	line-height: 2em;
}

#follow > div { margin-bottom:5px; }

#soon{margin-bottom:50px;}
a.shadowlink{
	transition: all 0.15s;
	margin-top: 10px;
	display: inline-block;
}
a.shadowlink:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.4);
}
.container-fluid:first-of-type .row:first-of-type{
	padding-top:120px;
}
.btn{
	border-radius: 0;
	border:#118d83 1px solid;
}
.form-control{
	border-radius: 0;
	border:#118d83 1px solid;
}
.form-control:active{
	border:#118d83 1px solid;
}

ul.countdown {
	font-family: 'wdb_bangnaregular';
	list-style: none;
	margin:80px 0 -15px;
	padding: 0;
	display: block;
	text-align: center;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li:nth-child(odd) {
	width: 70px;
}
ul.countdown li span {
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
}
ul.countdown li.seperator {
	font-size: 60px;
	line-height: 50px;
	vertical-align: top;
}
ul.countdown li p {
	color: #a7abb1;
	font-size: 14px;
}
@media (max-width:479px){
	ul.countdown {
		margin:60px 0 -15px;
	}
	ul.countdown li span {
		font-size: 40px;
		line-height: 40px;
	}
	ul.countdown li.seperator {
		font-size: 40px;
		line-height: 35px;
	}
	ul.countdown li:nth-child(odd) {
		width: 56px;
	}
}