*{
	transition:all 0.15s;
	font-family: 'cs_prajad';
	font-size: 15pt;
}
body{
	/*background-color: #eebbd0;*/
	background-color: #ffeeee;
	/*background-color: #fff;*/
	background-image: url('../img/regis_bg.svg');
	background-size: 100%;
	background-position: center top;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'wdb_bangnaregular';
	/*font-weight: bold;*/
}

hr{border-color:#000;}

.btn-primary ,.btn-primary:link, .btn-primary:active, .btn-primary:visited{background-color: #118d83;}
.btn-primary:hover{background-color: #084a44;}

.container-fluid{
	max-width:1000px;
}

.txt-center{text-align: center;}
.txt-left{text-align: left;}

.img-center{margin:0 auto;}


#body{
	/*background-color:  #e74c25;*/
}

#logo{
	width:300px;
	margin: 50px 0;
}

#head{
	/*background-image: url('../img/register_head.svg');*/
	/*background-color: #e74c25;*/
	height:300px;
	background-position: center;
}

#login{
	padding-top:50px;
	padding-bottom:100px;
	background-color: #838;
}

.step{
	height: 50px;
	width: 150px;
	background-image: url('../img/step_marketing.svg');
	margin-right:-10px;
	margin-left:-10px;
	display: inline-block;
}

.step.active{
	background-image: url('../img/step_marketing_active.svg');
	color:#fff;
}

.header{margin: 50px 0;}

.form-field{
	padding:10px 0;
}

#regisform{
	background-color: #edc;
	padding-bottom:50px;
	margin-bottom:100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

#form-head{
	background-color:#e74c25;
	color:#fff;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
#form-head h1{margin: 30px 0 5px;}
#form-head h2{margin: 5px 0 30px;}
#form-head hr{border-color: #fff;}


#form-progress{background-color: #333; color:#fff;}

[id^=goto]{
	display:inline-block;
	padding:15px 10px;
	cursor: pointer;
	/*background-color: #888;*/
	border-right: 1px #555 solid;
	border-left: 1px #222 solid;
	margin:0;
}

[id^=goto]:hover{
	background-color: #777;
}

[id^=goto]:first-of-type{border-left:none;}
[id^=goto]:last-of-type{border-right:none;}

[id^=goto].active{
	
}

[id^=step]{
	transition-duration:0.6s;
	transition-timing-function: ease;
}

#loginspace{
	padding:80px 0 100px;
	background-color: #edc;
	margin-bottom:100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

.fbpic{
	height:150px;
	width:150px;
	border-radius: 50%;
	background-color:#aaa;
	display: inline-block;
	vertical-align: middle;
}

.fbprofile{
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 20px;
}