*{
	transition:all 0.15s;
	font-family: 'CSPraJad';
	font-size: 15pt;
}
body{
	/*background-color: #eebbd0;*/
	background-color: #ffeeee;
	/*background-color: #fff;*/
	background-image: url('../img/regis_bg.svg');
	background-size: 100%;
	background-position: center top;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'wdb_bangnaregular';
	/*font-weight: bold;*/
}

hr{border-color:#000;}

.btn-design{
	background-color:#732877;
	border:none;
	color:#fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	margin: 5px 10px;
}
.btn-design:hover{
	background-color:#965e99;
	color:#fff;
}

.btn-marketing{
	background-color:#e74c25;
	border:none;
	color:#fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	margin: 5px 10px;
}
.btn-marketing:hover{
	background-color:#ed795c;
	color:#fff;
}

.btn-content{
	background-color:#01908c;
	border:none;
	color:#fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	margin: 5px 10px;
}
.btn-content:hover{
	background-color:#41aca9;
	color:#fff;
}

.btn-finished{
	background-color:#43b809;
	border:none;
	color:#fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	margin: 5px 10px;
}
.btn-finished:hover{
	background-color:#72ca47;
	color:#fff;
}

.container-fluid{
	max-width:1000px;
}

.txt-center{text-align: center;}
.txt-left{text-align: left;}

.img-center{margin:0 auto;}


#body{
	/*background-color:  #e74c25;*/
}
@media screen and (max-width:768px) {
	#body h1 {
		font-size : 24px;
	}
	#body h2 {
		font-size : 20px;
	}
	#regisform label {
		font-size : 16px;
	}
}

#logo{
	width:300px;
	margin: 50px 0;
}

#head{
	/*background-image: url('../img/register_head.svg');*/
	/*background-color: #e74c25;*/
	height:250px;
	background-position: center;
}
#head img{
	max-height:250px;
}

#login{
	padding-top:50px;
	padding-bottom:100px;
	/*background-color: #838;*/
}

.step{
	height: 50px;
	width: 150px;
	background-image: url('../img/step_marketing.svg');
	margin-right:-10px;
	margin-left:-10px;
	display: inline-block;
}

.step.active{
	background-image: url('../img/step_marketing_active.svg');
	color:#fff;
}

.header{margin: 50px 0;}

.form-field{
	padding:10px 0;
}

#regisform{
	background-color: #edc;
	padding-bottom:50px;
	margin-bottom:100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

#form-head{
	color:#fff;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
@media screen and (max-width:768px) {
	#form-head h1 {
		font-size : 24px;
	}
	#form-head h2 {
		font-size : 20px;
	}
}

#form-head.design{background-color:#732877;}
#form-head.marketing{background-color:#e74c25;}
#form-head.content{background-color:#01908c;}

#form-head h1{margin: 30px 0 5px;}
#form-head h2{margin: 5px 0 30px;}
#form-head hr{border-color: #fff;}


#form-progress{background-color: #333; color:#fff;}

[id^=goto]{
	display:inline-block;
	padding:15px 10px;
	cursor: pointer;
	/*background-color: #888;*/
	border-right: 1px #555 solid;
	border-left: 1px #222 solid;
	margin:0;
}

[id^=goto]:hover{
	background-color: #777;
}

[id^=goto]:first-of-type{border-left:none;}
[id^=goto]:last-of-type{border-right:none;}

[id^=goto].active{
	background-color: #edc;
	color:#000;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

[id^=step]{
	transition-duration:0.6s;
	transition-timing-function: ease;
}

#loginspace{
	padding:60px 0 100px;
	background-color: #edc;
	margin-bottom:100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

.fbpic{
	height:150px;
	width:150px;
	border-radius: 50%;
	background-color:#aaa;
	display: inline-block;
	vertical-align: middle;
}

.fbprofile{
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 20px;
}

#step3 textarea, #step4 textarea {
	margin-top: 10px;
}
@media screen and (max-width:768px) {
	#step3 textarea, #step4 textarea {
		margin-top: 3px;
	}	
}

#error_log {
	margin-top:20px;
	color: #ff0000;
	font-size : 18px;
}

@media (max-width:1023px) and (min-width:480px){
	body{
		padding: 0 30px;
		background-position: 0 55px;
		background-repeat: no-repeat;
	}
	#head{height:220px;}
}

@media (max-width:479px){
	body{
		padding: 0 15px;
		background-position: 0 55px;
		background-repeat: no-repeat;
	}
	#regisform, #loginspace{
		padding-left:15px;
		padding-right:15px;
		margin-bottom:40px;
	}
	.container-fluid{margin:0 auto;}
	#logo{width:200px;}
	#head{height:200px;}
}

@media (max-width:899px){
	[id^=goto]{padding-left:20px; padding-right:20px;}	
}