html,body {
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	font-family: 'wdb_bangnaregular';
}

.CSPraJad { font-family: 'CSPraJad'; }

.big-text { font-size:70px; }
.title-text { font-size:40px; }
.normal-text { font-size:30px; }

@media screen and (max-width:768px) {
	.big-text { font-size:40px; }
	.title-text { font-size:25px; }
	.normal-text { font-size:18px; }
}

.img-center {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.navbar {
	background-color: #111;
	color: #FFF;
	border:none;
	float:none;
	display:inline-block;
	vertical-align: top;
	height:70px;
}
.navbar .nav > li > a {
	text-decoration: none;
	color: #FFF;
	margin-top:10px;
	font-size:18px;
	display:block;
}
.navbar .nav > li > a:focus {
	color: #FFF;
}
.navbar .nav > li > a:hover {
	background: #FFF;
	color: #111;
}
.navbar .navbar-header button {
	margin-top:15px;
}

.navbar-nav {
	text-align:center;
	float: none;
	margin: 0px auto;
	display:inline-block;
}

.navbar .navbar-collapse {
	background-color: #111;
	border: none;
}
@media screen and (max-width:768px) {
	.navbar {
		height:50px;
	}
	.navbar .navbar-header button {
		margin-top:7px;
	}

}

.page {
	padding: 70px 0px;
	width:100%;
	display:block;
}
@media screen and (max-width:991px) {
	.page {
		padding: 20px 0px;
	}	
}

.page .title {
	margin-bottom: 40px;
}
@media screen and (max-width:768px) {
	.page .title {
		margin-bottom: 10px;
	}	
}

#sponsor-page,#timeline-page,#qa-page {
	background-color: #78297D;
}

#header-page .cover-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	background: url(../img/main/city.png);
	background-size: 100% auto;
	background-position:center bottom;
	background-repeat: no-repeat;
}

#header-page {
	width: 100%;
	height: 100%;
	display:block;
}

#header-page .logo-img {
	margin-top:100px;
}
@media screen and (max-width:768px) {
	#header-page .logo-img {
		margin-top:60px;
	}	
}

#about-page {
	padding: 0px;
}

#about-page .desciption {
	max-width:500px;
}

#category-page {
	padding-top: 0px;
	color: #000;
}

#category-page .description {
	min-height: 180px;
	font-size: 30px;
	font-family: 'CSPraJad';
	max-width: 450px;
	margin: auto;
	text-align: center;
	margin-top: 5px;
}


#category-page .count-box {
	display: inline-block;
	padding: 5px 60px;
	font-size: 55px;
	margin: 10px 0px;
	border-radius: 5px;
	color: #fff;
}

#category-page .cat-text {
	font-size: 35px;
	margin-top:20px;
}

#category-page .register {
	cursor:pointer;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 170px;
}

@media screen and (min-width:991px) {
	#category-page .description {
		min-height: 240px;
	}
}

@media screen and (max-width:1199px) {
	#category-page .count-box {
		font-size: 45px;
	}
}

@media screen and (max-width:991px) {
	#category-page .description {
		min-height: 0px;
		margin-bottom: 20px;
	}
	#category-page .description {
		font-size: 20px;
	}
	#category-page .count-box {
		font-size: 35px;
	}
	#category-page .register {
		width: 120px;
	}
}
@media screen and (max-width:768px) {
	#category-page .count-box {
		font-size: 35px;
		margin:0px 0px;
		padding: 5px 40px;
	}
	#category-page .register {
		width: 100px;
	}	
}

#sponsor-page {
	padding-top: 0px;
}

#timeline-page {
	background-image: url(../img/main/timeline_bottom.png);
	background-size: 100% auto;
	background-position:top center;
}

#timeline-page .timeline-img {
	margin:150px auto;
}
@media screen and (max-width:768px) {
	#timeline-page .timeline-img {
		margin:20px auto;
	}	
}

#picture-page {
	background: url("../img/main/activity.png");
	background-size: cover;
	background-position: center center;
	color: #000;
}

#picture-page .table-picture img {
	margin-bottom: 10px;
}

#picture-page .col-md-4,#picture-page .col-md-3,#picture-page .col-md-6 {
	padding-left: 5px;
	padding-right: 5px;
}

#category-page .big-text, #sponsor-page .big-text {
	padding-top:70px;
}
@media screen and ( max-width: 768px ) {
	#category-page .big-text, #sponsor-page .big-text {
		padding-top:30px;
	}
}

#qa-page {
	padding-bottom: 0px;
}

.img-detailheader {
	margin-top: 50px;
	margin-bottom: 50px;
}

.img-rivercenter {
	background: url(../img/main/rivercenter.png);
	background-size: 100% 100%;
}

.img-detailtext {
	background: url(../img/main/detailtext.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 20px;
	width: 100%;
	max-width: 650px;
	height: 100%;
	margin-bottom: 50px;
}

.img-sponsorhead {
	background: url(../img/main/sponsorhead.png);
	background-position: center;
	background-size: 100% auto;
	margin: 0px;
	margin-bottom:50px;
}

.img-platapainbg {
	background: url(../img/main/platapainbg.png);
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}