html,body {
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	font-family: 'wdb_bangnaregular', 'CSPraJad', Arial, sans-serif;

}

.WDB_Bangna { font-family: 'wdb_bangnaregular'; }
.CSPraJad { font-family: 'CSPraJad'; }

.big-text { font-size:70px; }
.title-text { font-size:40px; }
.normal-text { font-size:30px; }

.img-center {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.bg-gradient {
	background: #5f2c83; /* Old browsers */
	background: -moz-linear-gradient(top, #5f2c83 15%, #782a7e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#5f2c83), color-stop(100%,#782a7e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5f2c83 15%,#782a7e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5f2c83 15%,#782a7e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5f2c83 15%,#782a7e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5f2c83 15%,#782a7e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f2c83', endColorstr='#782a7e',GradientType=0 ); /* IE6-9 */
}

.navbar {
	background-color: rgba(255,255,255,0.9);
	color: #000;
	border:none;
	float:none;
	display:inline-block;
	vertical-align: top;
	height:70px;
}
.navbar .nav > li > a {
	text-decoration: none;
	color: #000;
	margin-top:10px;
	font-size:24px;
	display:block;
}
@media screen and (max-width:991px) {
	.navbar .nav > li > a {
		font-size:20px;
	}	
}
.navbar .active a {
	background: none;
}
.navbar .navbar-header button {
	margin-top:15px;
}

.navbar .active {
	background: none;
}

.navbar-nav {
	text-align:center;
	float: none;
	margin: 0px auto;
	display:inline-block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

@media screen and ( max-width:768px ) {
	.navbar {
		height:50px;
	}
	.navbar .navbar-header button {
		margin-top:7px;
	}
	.navbar .navbar-collapse {
		background-color: rgba(255,255,255,0.9);
		border: none;
	}
	.navbar .home-small {
		display:block;
	}
	.navbar .home-large {
		display:none;
	}
}
@media screen and ( min-width:768px ) {
	.navbar .home-small {
		display:none;
	}
	.navbar .home-large {
		display:block;
	}
}

.page {
	padding: 70px 0px;
	width:100%;
	display:block;
}

.page .title {
	margin-bottom: 40px;
}

.free {
	position : fixed;
	left: 20px;
	top: 20px;
	width: 180px;
	transition: all 0.5s;
	z-index: 10000;
}

@media screen and ( max-width: 1200px ) {
	.free {
		left: 0px; top: 20px;
		width: 150px;
	}
}
@media screen and ( max-width: 768px ) {
	.free {
		left: 10px; top: 10px;
		width : 100px;
	}
}
@media screen and ( max-width: 640px ) {
	.free {
		display: none;
	}
}


#header-page .cover-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	background: url(../img/main/city2.png);
	background-size: cover;
	background-position:center bottom;
	background-repeat: no-repeat;
}

#header-page {
	width: 100%;
	height: 100%;
	min-height: 768px;
	display:block;
}
@media screen and (max-width:991px) {
	#header-page {
		min-height: 0px;
	}	
}

#header-page .top-corner {
	position: absolute;
	width: 100%;
}

#header-page .top-corner img {
	width: 240px;
}

#header-page .logo-img {
	margin-top: 50px;
	width: 550px;
}


#header-page .jumpto-register {
	margin-top:70px;
	width: 150px;
}
@media screen and (max-width:1200px) {
	#header-page .jumpto-register {
		margin-top:50px;
		width: 14
		0px;
	}
	#header-page .logo-img {
		width: 450px;
	}	
}
@media screen and (max-width:768px) {
	#header-page .jumpto-register {
		margin-top:70px;
		width: 120px;
	}	
}

#header-page .sponsor-top {
	display: inline-block;
	vertical-align: middle;
	margin: 20px 40px 0;
}
#header-page .sponsor-top img {
	max-width: 120px;
}
@media screen and (max-width:768px) {
	#header-page .sponsor-top {
		margin: 10px 10px 0;
	}
	#header-page .sponsor-top img {
		max-width: 70px;
	}
}

@media screen and (max-width: 768px) {
	#header-page .top-corner img {
		width: 180px;
	}

	#header-page .logo-img {
		margin-top: 60px;
	}
}

@media screen and (max-width: 480px) {
	#header-page .top-corner img {
	  width: 120px;
	}

	#header-page .cover-img .col-logo {
		width: 80%;
		margin-left: 10%;
	}

	#header-page .logo-img {
		margin-top: 14%;
	}
}

#about-page {
	padding: 0px;
}

#about-page .desciption {
	font-family: 'CSPraJad';
	max-width:500px;
}

#about-page .row {
	color: #EDEB98;
}

#about-page .looknum {
	display:inline-block;
	max-width: 150px;
	width: 20%;
	padding: 0px 30px;
	margin-bottom: 35px;
}

#about-page .plata-1 {
	position: absolute;
	margin-top: -500px;
	margin-left: -145px;
	height: 300px;
}

#about-page .plata-2 {
	background: url(../img/main/plata_2.png);
	background-size: 250px auto;
	background-repeat: no-repeat;
	background-position: 700px top;
	position: absolute;
	margin-top: -130px;
	width: 100%;
	height: 200px;
}

#about-page .boat {
	background: url(../img/main/boat.png);
	background-size: 25% auto;
	background-position: 0 40%;
	background-repeat: no-repeat;
	position: absolute;
	height: 210px;
	width: 100%;
}

@media screen and ( max-width: 1200px ) {
	#about-page .plata-2 {
		background-size: 200px auto;
		background-position: 550px top;
	}
}

@media screen and (max-width:991px) {
	#about-page .looknum {
		padding: 0 15px;
		margin-bottom: 30px;
	}
	#about-page .plata-1 {
		margin-top: -505px;
		margin-left: -270px;
	}
	#about-page .plata-2 {
		background-size: 200px auto;
		background-position: 450px top;
	}
	#about-page .boat {
		height: 100px;
	}	
}
@media screen and (max-width:768px) {
	#about-page .looknum {
		padding: 0 10px;
		width: 15%;
		max-width: 75px;
		margin-bottom: 15px;
	}
	#about-page .plata-2 {
		margin-top: -100px;
		background-size: 150px auto;
		background-position: 90% top;
	}
	#about-page .boat {
		height: 60px;
	}
}
@media screen and (max-width:480px) {
	#about-page .looknum {
		display: none;
	}	
}

#about-page .big-text {
	display:inline-block;
	color: #fff;
}

#category-page {
	padding-top: 0px;
	color: #000;
}

#category-page .description {
	min-height: 180px;
	font-size: 30px;
	font-family: 'CSPraJad';
	max-width: 450px;
	margin: auto;
	text-align: center;
	margin-top: 5px;
}
@media screen and (max-width:768px) {
	#category-page .description {
		max-width: 250px;
	}	
}

#category-page .count-box {
	display: inline-block;
	padding: 5px 60px;
	font-size: 55px;
	margin: 10px 0px;
	border-radius: 5px;
	color: #fff;
}

#category-page .cat-text {
	font-size: 35px;
	margin-top:20px;
}

#category-page .register {
	cursor:pointer;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 150px;
}

@media screen and (max-width:768px) {
	#category-page .register {
		margin-top: 15px;
	}
	#category-page .head {
		width: 200px;
	}
}

#sponsor-page {
	padding-top: 0px;
}
#sponsor-page .big-text {
	text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}

#timeline-page {
	background-image: url(../img/main/timeline_bottom.png);
	background-size: 100% auto;
	background-position:top center;
}

#timeline-page .timeline {
	background: url(../img/main/timeline_item.png) no-repeat center center;
  background-size: 240px;
  height: 380px;
  width: 660px;
  position: relative;
  font-size: 1.6em;
  margin: 5% auto;
}

#timeline-page .timeline-item {
	position: absolute;
}

#timeline-page .timeline-item:nth-child(1) {
	right: 0;
	top: 0;
}

#timeline-page .timeline-item:nth-child(2) {
	right: 0;
	bottom: 0;
}

#timeline-page .timeline-item:nth-child(3) {
	left: 0;
	bottom: 0;
}

#timeline-page .timeline-item:nth-child(4) {
	left: 0;
	top: 0;
}

#timeline-page .timeline-fish {
	display: none;
	position: absolute;
}

@media screen and (max-width: 768px) {
	#timeline-page {
		background-size: cover;
	}
	#timeline-page .timeline {
		background: none;
  	height: initial;
  	width: initial;
  	margin: 8% auto 5% 40%;
  	border-left: 4px solid #fff;
	}

	#timeline-page .timeline-item {
		position: relative;
	  margin: 0 0 50px 60px;
	}

	#timeline-page .timeline-fish {
		display: block;
  	top: -22px;
  	right: 98%;
  	width: 160px;
	}

}

#picture-page {
	background: url("../img/main/activity.png");
	background-size: cover;
	background-position: center center;
	color: #000;
}

#picture-page .table-picture img {
	margin-bottom: 10px;
}

#picture-page .table-picture .row img {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

#picture-page .col-md-4,#picture-page .col-md-3,#picture-page .col-md-6 {
	padding-left: 5px;
	padding-right: 5px;
}

#picture-page .social {
	margin-top:60px;
}

#picture-page .social p {
	font-size: 2em;
}

#picture-page .social a img {
	width: 70px;
	margin-left:30px;
}

#category-page .big-text, #sponsor-page .big-text {
	padding-top:70px;
}
@media screen and (max-width:768px) {
	#category-page .big-text, #sponsor-page .big-text {
		padding-top:50px;
	}
}

#qa-page {
	padding-bottom: 0px;
}

#qa-page .folded-container {
	margin-bottom:30px;
	overflow: hidden;
}

#qa-content,#qa-page .head {
	background: #f3ddad;
	color: #000;
	font-family: 'CSPraJad';
}

#qa-page .head {
	cursor: pointer;
	background-image: url(../img/main/faq_show.png);
	background-size: auto 60px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

#qa-content .tail {
	cursor: pointer;
	background: url(../img/main/faq_hide.png);
	background-size: auto 60px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

#qa-content .arrow {
	padding:0px;
	margin:0px;
	max-height: 50px;
	position: relative;
	top: -5px;
}
#qa-content .arrow-boy { right: -8px; }
#qa-content .arrow-girl { left: -8px; }

#qa-content .icon {
	padding:0px;
	margin:0px;
	max-width: 60px;
}

#qa-content .sentence:nth-child(odd) {
	background-color: #e7d2a3;
}

#qa-content .sentence {
	text-align: center;
	padding: 30px 25px;
}

#qa-page .head,#qa-content .tail {
	cursor: pointer;
	font-family: 'wdb_bangnaregular';
	padding: 40px 0px 80px;
}

#qa-content .sentence .white {
	background-color: #fff;
	padding: 10px 30px;
	border-radius: 8px;
}

#qa-content .sentence .blue {
	margin-bottom:20px;
	background-color: #0084ff;
	color: #fff;
	padding: 10px 30px;
	border-radius: 8px;
}
#qa-content .sentence .white, #qa-content .sentence .blue {
	font-size:22px;
	max-width: 550px;
}
@media screen and (max-width: 1200px) {
	#qa-content .sentence .white, #qa-content .sentence .blue {
		max-width: 450px;
	}
}
@media screen and (max-width: 640px) {
	#qa-content .sentence .white, #qa-content .sentence .blue {
		padding: 10px 15px;
		font-size: 20px;
		max-width: 300px;
	}
}
@media screen and (max-width: 480px) {
	#qa-content .sentence .white, #qa-content .sentence .blue {
		padding: 10px;
		font-size: 18px;
		max-width: 180px;
	}
}

#qa-content .sentence  {
	display: block;
}

#qa-content .chat-box  {
	display: block;
}

#qa-content .chat-box * {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0px;
}

.img-detailheader {
	margin-top: 50px;
	margin-bottom: 50px;
}

.img-rivercenter {
	background: url(../img/main/rivercenter.png);
	background-size: 100% 100%;
}

.img-detailtext {
	background: url(../img/main/detailtext.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 20px;
	width: 100%;
	max-width: 650px;
	height: 100%;
	margin-bottom: 50px;
}

.img-sponsorhead {
	background: url(../img/main/sponsorhead.png);
	background-position: center;
	background-size: 100% auto;
	margin: 0px;
	margin-bottom:50px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width:1199px) {
	#category-page .count-box {
		font-size: 45px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	#picture-page .table-picture .row > div {
		width: 20%;
	}
	#picture-page .table-picture .row > div:nth-child(n+16) {
		display: none;
	}
}

@media screen and (min-width:991px) {
	#category-page .description {
		min-height: 240px;
	}
}

@media screen and (max-width:991px) {
	.page {
		padding: 20px 0px;
	}

	#category-page .description {
		min-height: 0px;
		margin-bottom: 20px;
	}
	#category-page .description {
		font-size: 20px;
	}
	#category-page .count-box {
		font-size: 35px;
		padding: 10px 60px;
	}
	#category-page .register {
		width: 140px;
	}
	#picture-page .table-picture .row > div:nth-child(n+17) {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.big-text { font-size: 40px; }
	.title-text { font-size: 24px; }
	.normal-text { font-size: 20px; }

	.page .title {
		margin-bottom: 10px;
	}

	#category-page .count-box {
		font-size: 35px;
		margin:0px 0px;
		padding: 5px 40px;
	}
	#category-page .register {
		width: 100px;
	}

	#timeline-page .timeline-img {
		margin:20px auto;
	}

	#picture-page .social {
		margin-top:30px;
	}
	#picture-page .social a img {
		width: 50px;
		margin-left:10px;
	}

	#category-page .big-text, #sponsor-page .big-text {
		padding-top:30px;
	}

	#picture-page .table-picture .row > div:nth-child(n+16) {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	#sponsor-page .col-xs-4 {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	#picture-page .table-picture .row > div {
		width: 50%;
	}
	#picture-page .table-picture .row > div:nth-child(n+13) {
		display: none;
	}
}