*{
	transition:all 0.15s;
}
body{
	background-color: #eee;
	background-image: url('../img/bg6.png');
	background-position: center top;
	background-repeat: repeat;
	background-size: cover;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'wdb_bangnaregular';
	/*font-weight: bold;*/
}
.btn-primary ,.btn-primary:link, .btn-primary:active, .btn-primary:visited{background-color: #118d83;}
.btn-primary:hover{background-color: #084a44;}

.txt-center{text-align: center;}
#subscribeform{
	max-width:500px;
}
#subscribe{
	margin:0 -15px;
	background-image: url('../img/gw.png');
	background-size: 10% 100%;
	padding-bottom:50px;
}
.img-center{margin:0 auto;}

#subscribe .shadowlink{
	border-radius: 50%;
	height:30px;
	width:30px;
	display:inline-block;
}
/*@media (min-width:480px){
	#social{
		margin-top:-55px;
	}
}*/
#soon{margin-bottom:50px;}
a.shadowlink{
	transition:all 0.15s;
	margin-top:10px;
	display:inline-block;
}
a.shadowlink:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.4);
	/*margin-bottom:5px;
	margin-top:-5px;*/
}
.container-fluid:first-of-type .row:first-of-type{
	padding-top:120px;
}
.btn{
	border-radius: 0;
	border:#118d83 1px solid;
}
.form-control{
	border-radius: 0;
	border:#118d83 1px solid;
}
.form-control:active{
	border:#118d83 1px solid;
}
@media (min-width:1024px){
	body{background-size: 1400px;}
}
@media (min-width:480px) and (max-width:1023px){
	body{background-size: 1100px}
}
@media (max-width:479px){
	body{background-size: 800px}
}


ul.countdown {
	font-family: 'wdb_bangnaregular';
	list-style: none;
	/*margin: 75px 0;*/
	margin:80px 0 -15px;
	padding: 0;
	display: block;
	text-align: center;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
}
ul.countdown li.seperator {
	font-size: 60px;
	line-height: 50px;
	vertical-align: top;
}
ul.countdown li p {
	color: #a7abb1;
	font-size: 14px;
}
@media (max-width:479px){
	ul.countdown {
		margin:60px 0 -15px;
	}
	ul.countdown li span {
		font-size: 40px;
		line-height: 40px;
	}
	ul.countdown li.seperator {
		font-size: 40px;
		line-height: 35px;
	}
}